<h2 class="title-welcome font-rubik">Antes que nada, los quiero hacer participe de este bonito proyecto que comence con mucho amor y pasion. Bienvenidos y espero lo disfruten y les guste... </h2>

<div id="carousel">
    <figure><img src="../../../assets/img/guepardo.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/oso.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/delfin.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/conejo.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/dragon.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/zorro.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/cisne.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/fenix.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/gato.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/cocodrillo.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/araña.jpg" alt=""></figure>
    <figure><img src="../../../assets/img/ciervo.jpg" alt=""></figure>
</div>