<div class="m-0 row justify-content-center">
    <div class="card m-4" style="width:500px; height:500px">
        <p>horoscopo works!</p>
        <!--<app-card class="m-0 row justify-content-center"></app-card>-->

        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            Buscar
        </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><button class="dropdown-item" type="button">Null</button></li>
                <li><button class="dropdown-item" type="button">January</button></li>
                <li><button class="dropdown-item" type="button">February</button></li>
                <li><button class="dropdown-item" type="button">March</button></li>
                <li><button class="dropdown-item" type="button">April</button></li>
                <li><button class="dropdown-item" type="button">May</button></li>
                <li><button class="dropdown-item" type="button">June</button></li>
                <li><button class="dropdown-item" type="button">July</button></li>
                <li><button class="dropdown-item" type="button">August</button></li>
                <li><button class="dropdown-item" type="button">September</button></li>
                <li><button class="dropdown-item" type="button">October</button></li>
                <li><button class="dropdown-item" type="button">November</button></li>
                <li><button class="dropdown-item" type="button">December</button></li>
            </ul>
        </div>
    </div>
</div>